body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66BFBF;
    font-family: 'MonteCarlo', cursive;
    font-size: 5.485rem;
    margin: 59px auto 0 auto;
    margin-bottom: 0px;
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #40514E;
}
hr {
    border-style: dotted none none;
    border-color: #D6E4E5;
    border-width: 5px;
    width: 3%;
}
.imagem-perfil {
    width: 230px;
    margin-top: 4%;
}
.img-habil {
    float: left;
    margin-right: 30px;
    width: 25%;
}
.img-game {
    float: right;
    margin-left: 30px;
    width: 25%;
}
.top {
    background-color: #EAF6F6; /* E3FDFD cor que eu estava usando antes*/
    position: relative;
    padding-top: 140px;
    line-height: 3.5rem;
}
.bottom-container {
    background-color: #66BFBF;
    margin-top: 50px;
    padding-bottom: 25px;
    position: relative;
}
.bot-nuvem {
    position: absolute;
}
.top-nuvem {
    position: absolute;
    right: 310px;
    bottom: 560px;
}
.btn {
    color: #11999E;
}
.footer-link {
    color: #11999E;
}
.text-perfil {
    margin: auto auto auto auto;
    width: 50%;
    line-height: 2rem;
}
.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2rem;
}