body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66BFBF;
    font-family: 'MonteCarlo', cursive;
    font-size: 5.485rem;
    margin: 59px auto 0 auto;
    margin-bottom: 0px;
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.imagem-perfil {
    width: 225px;
}
.img-habil {
    width: 300px;
}
.img-game {
    width: 250px;
}
.top {
    background-color: #E3FDFD;
    position: relative;
    padding-top: 140px;
    line-height: 3.5rem;
}
.mid {
    background-color: red;
    height: 200px;
    width: 200px;
}
.bot {
    background-color: blue;
    height: 200px;
    width: 200px;
}
.bot-nuvem {
    position: absolute;
}
.top-nuvem {
    position: absolute;
    right: 310px;
    bottom: 560px;
}
.btn {
    color: #11999E;
}
.footer-link {
    color: #11999E;
}